.sidebar {
  display: flex;
  flex: 0.25;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(243, 243, 243);
  border-right: 1px solid lightgray;
}

.sidebar__header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.sidebar__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: lightgray;
  flex: 1;
  border-radius: 5px;
  margin-left: 15px;
}

.sidebar__input > input {
  background: transparent;
  outline-width: 0;
  border: none;
  width: 100%;
}
