.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.chat__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #f3f3f3;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.chat__header > h4 {
  color: grey;
  font-weight: 500;
}

.chat__headerHamburger {
  padding: 5px;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin-right: 50px;
  margin-bottom: -10px;
}

.chat .hamburgerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 35px;
  position: relative;
}

.chat .hamburgerBox__inner {
  width: 100%;
  height: 3px;
  background-color: black;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.chat .hamburgerBox__inner::before {
  content: "";
  width: 100%;
  height: 3px;
  left: 0;
  background-color: black;
  position: absolute;
  top: -10px;
}

.chat .hamburgerBox__inner::after {
  content: "";
  width: 100%;
  height: 3px;
  left: 0;
  background-color: black;
  position: absolute;
  top: 10px;
}

.chat .chat__headerHamburger--active.hamburger__inner {
  background-color: transparent;
}

.chat .chat__headerHamburger--active.hamburger__inner::before {
  -webkit-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

.chat .chat__headerHamburger--active.hamburger__inner::after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}

.chat__userName {
  color: black;
}

.chat__messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat__messages::-webkit-scrollbar {
  display: none;
}

.chat__messageInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 20px;
}

.chat__messageInput > form {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.chat__messageInput > form > input {
  background-color: lightgrey;
  padding: 20px;
  outline-width: 0;
  border: 1px solid lightgray;
  margin-right: 20px;
  border-radius: 150px;
  font-size: 16px;
  width: 90%;
}

.chat__messageInputButton {
  display: none;
}

@media (max-width: 760px) {
  .chat {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .chat__headerHamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 15px;
}

.message > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: lightgray;
  font-size: medium;
  padding: 15px;
  border-radius: 20px;
  margin: 10px;
  margin-right: auto;
  max-width: 850px;
  white-space: -moz-pre-wrap !important;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: pre-wrap;
  /* css-3 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap;
  /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  white-space: normal;
}

.message > small {
  color: gray;
  position: absolute;
  font-size: 8px;
  bottom: -5px;
  left: 0;
}

.message__sender {
  margin-left: auto;
}

.message__sender > p {
  background: #124a9e;
  color: white;
}

.message__sender > .message_photo {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin: 15px;
}

.message__photo {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.25;
  -ms-flex: 0.25;
  flex: 0.25;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  background-color: #f3f3f3;
  border-right: 1px solid lightgray;
}

.sidebar__header {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.sidebar__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px;
  background-color: lightgray;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 5px;
  margin-left: 15px;
}

.sidebar__input > input {
  background: transparent;
  outline-width: 0;
  border: none;
  width: 100%;
}

.sidebar .mobileSidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  background-color: #f3f3f3;
  border-right: 1px solid lightgray;
}

@media (max-width: 740px) {
  .sidebar {
    display: none;
  }
  .sidebar__input {
    display: none;
  }
}

.sidebarMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 350px;
}

.sidebarMessage:hover {
  background-color: lightblue;
  color: white;
}

.sidebarMessage .sidebarchat__info {
  margin-left: 15px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.sidebarMessage .sidebarchat__info > p {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebarMessage .sidebarchat__info > small {
  position: absolute;
  top: 5px;
  right: 0;
}

.sidebarMessage .sidebar_messages {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 760px) {
  .sidebarMessage {
    border: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .sidebarMessage .sidebarchat__info {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */
